$navbar-height: 50px;

$dark-blue: #003459 !default;
$light-blue: #84C3DF !default;
$green: #4cbed2 !default;
$black : #00171F !default;

$global-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2) !default;