@import '../variables';

$navbar-height: 50px;

:global(html), :global(body), :global(.appWrapper), :global(#root) {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.banner {
  text-align: center;
  padding-top: $navbar-height + 1px;
  background: $dark-blue url("./banner-bg.jpg")  no-repeat center 0;
  background-size: cover;
  background-blend-mode: luminosity;

  .logo {
    height: 200px;
    width: 200px;
    position: relative;
    bottom: -40px;
  }
}

.navbar {
  background: transparent;
  width: 100%;
  margin: 0;
  height: $navbar-height;
}


.mainWrapper {
  padding-top: 35px;
}