@import '../../globals';

.banner {
  background-color: $base-green;
  background-blend-mode: multiply;
}

.mainWrapper {
}

.notesList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style-type: none;
  font-size: 16px;
  padding: 0;
  .note {
    $note-padding: 10px;

    display: flex;
    flex-direction: column;

    margin: 5px;
    padding: $note-padding;
    height: 200px;
    background: $base-white;

    box-shadow: $global-box-shadow;
    border: 3px solid darken($base-green, 15%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    header {
      padding-bottom: 5px;
      border-bottom: 1px solid rgba($base-black, .2);
      h3 {
        margin: 0;
        //margin: 0 0 10px;
        font-weight: 600;
      }
      .courseMeta{
        font-weight: 400;
        font-family: 'Quattrocento', serif;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        .courseProf{
          margin-right: 20px;
          justify-self: flex-start;
        }
        .courseDate{
          justify-self: flex-end;
          align-self: flex-end;
          justify-content: flex-end;
        }
      }
    }

    .noteComment {
      font-family: 'Quattrocento', serif;
      margin-top: 5px;
      flex-grow: 1;
    }

    footer{
      font-size: 15px;
      font-family: 'Quattrocento', serif;

      color: $base-white;

      margin-top: 15px;
      margin-left: -$note-padding;
      margin-right: -$note-padding;
      margin-bottom: -$note-padding;

      padding: 10px;

      background: darken($base-green, 15%);

    }
  }
}