@import '../../globals';


.spinnerWrapper {
  content: '';

  height: 150px;
  width: 150px;
  z-index: -1;

  margin: 40px auto;

  border-radius: 50%;

  background-color: $base-green;

  .spinner{
    background: url('../../../assets/img/csealogo.png');
    background-color: inherit;
    background-blend-mode: multiply;
    background-size: cover;
    display: inline-block;
    width: inherit;
    height: inherit;
    z-index: 5;
    position: relative;
    border-radius: inherit;
  }

  &:before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: inherit;
    opacity: .75;
    border-radius: 100%;
    animation: scaleout 1.5s infinite ease-in-out;
    z-index: 0;
    @keyframes scaleout {
      0% {
        transform: scale(1)
      }
      to {
        transform: scale(1.5);
        opacity: 0
      }
    }
  }
}