@import '../../globals';

.main {
  // Should contain common css between spinner and post
}

.post {
  background: white;
  padding: 20px;
  margin-top: -100px;
  margin-bottom: 20px;
  color: $base-black;

  header {
    border-bottom: 2px solid $base-green;
    .title {
      margin-top: 0;
      font-weight: 600;
      font-size: 2.5em;
    }
    .subtitle {
      color: $grey;
    }
  }

  .postMeta {
    display: inline-block;
    font-family: 'Quattrocento', serif;
    font-weight: 600;
    color: darken($base-white, 10%);
    //border-bottom: 2px solid darken($blog-base-color, 25%);
    //border-left: 2px solid darken($blog-base-color, 25%);
    //border-right: 2px solid darken($blog-base-color, 25%);
    padding: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    background: $base-green;
    .author {
      padding-right: 10px;
      border-right: 1px solid darken(white, 10%);
    }
    .timestamp {
      margin: 0 10px;
    }
  }

  .contentWrapper {
    line-height: 2em;
    font-family: 'Open Sans', sans-serif;
    .content {
      margin-top: 25px;
      font-size: 18px;
    }
    .contentImage {
      margin: 0 auto;
    }
  }
}

.spinnerColor {
  background-color: $base-green;
}