@import '../../globals';

.navbar {
  background: transparent;
  width: 100%;
  margin: 0;
  height: $navbar-height;
  border: none;
  letter-spacing: 0.07em;
  color: #EEE;
  text-transform: uppercase;
  :global(.navbar-nav) > li > a {
    color: #EEE;
    font-weight: 600;
    &:hover {
      color: $green;
    }
  }
}

.appFooter {
  display: block;
  background: $black;
  border-top: 5px solid lighten($black, 30%);
  width: 100%;
  height: $footer-height;
  position: absolute;
  bottom: 0;
}


:global(html), :global(body), :global(.appWrapper), :global(#root) {
  // min-height and position: relative needed to make footer fixed at bottom of the page
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Exo 2', Helvetica, Arial, Lucida, sans-serif;
}

:global(.appWrapper){
  // padding-bottom = footer height + needed spacing
  padding-bottom: $footer-height + 30px;
  background: #EEE;
}

a {
  color: $black;
  text-decoration: none;
  &:focus, &:hover {
    color: lighten($black, 20%);
    text-decoration: none;
  }
}