@import '../../globals';

.navbar {
  background: transparent;
  width: 100%;
  margin: 0;
  height: $navbar-height;
  border: none;
  letter-spacing: 0.07em;
  color: #EEE;
  text-transform: uppercase;
  :global(.navbar-nav) > li > a {
    color: #EEE;
    font-weight: 600;
    &:hover {
      color: $green;
    }
  }
}

.appFooter {
  display: block;
  background: $black;
  border-top: 5px solid lighten($black, 30%);
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0;
}