@import '../../globals';

// Use important when overriding navbar styles
.navbar {
  color: $base-black;
  margin: 0;
  border: none;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  background: lighten(#EEE, 5%);
  box-shadow: $global-box-shadow;

  .nav {
    li > a {
      transition: color 0.15s ease-in-out;
      padding-left: 8px;
      padding-right: 8px;
      &:hover, &:focus {
        color: darken($base-green, 5%);
      }
    }
    :global(.active) > a {
      background: none;
      color: darken($base-green, 5%);
      &:hover, &:focus{
        background: none;
        color: darken($base-green, 5%);
      }
    }
  }

  .brand {
    display: inline-block;
    height: 20px;
    width: 115px;
    background: url(../../../assets/img/csealogonocircledark.png) no-repeat;
    background-size: contain;
  }
}

.appFooter {
  display: block;
  background: $base-black;
  border-top: 3px solid rgba($grey, .15);
  width: 100%;
  height: $footer-height;
  position: absolute;
  bottom: 0;
  padding: 30px 0;
  font-size: 1.1em;
  color: white;
  a {
    margin-right: 10px;
    color: lighten($grey, 12%);
    &:hover {
      color: lighten($grey, 40%);
    }
  }
  .navIcons {
    display: flex;
    font-size: 18px;
    margin-bottom: 15px;
    //justify-content: center;
    & > * {
      margin-right: 10px;
      color: white;
      background: $base-black;
      display: inline-block;
      line-height: 1px;
      padding: 8px;
      border-radius: 50%;
      border: 2px solid white;
    }
    .facebookIcon:hover {
      color: white;
      background: #3b5998;
      border: 2px solid #3b5998;
    }
    .mailIcon:hover {
      color: white;
      background: #dd4b39;
      border: 2px solid #dd4b39;
    }
  }
  .cseaLinks {
    margin: 0 0 8px 0;
    a {
      display: inline-block;
    }
    strong {
      margin-right: 15px;
    }
  }
  .copyrightWrapper {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;

    .smallLogo {
      margin-bottom: 20px;
      height: 17px;
      width: auto;
      background: url(../../../assets/img/csealogonocircle.png) no-repeat;
      background-size: contain;
      background-position-x: right;
    }

    small {
      color: lighten($grey, 12%);
    }

  }
}

:global(html), :global(body), :global(.appWrapper), :global(#root) {
  // min-height and position: relative needed to make footer fixed at bottom of the page
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Exo 2', Helvetica, Arial, Lucida, sans-serif;
}

:global(.appWrapper) {
  // padding-bottom = footer height + needed spacing
  padding-bottom: $footer-height + 30px;
  background: #EEE;
}

:global(svg) {
  vertical-align: text-top !important;    // Needed to override inline-styling from react-icons
  display: inline-block;
}

a {
  text-decoration: none;
  &:focus, &:hover {
    color: $base-green;
    text-decoration: none;
  }
}