$navbar-height: 50px;
$footer-height: 200px;

$blog-base-color: darken(#4cbed2, 15%) !default;
$about-base-color: #003459 !default;

$grey: #666;
//$good-green: #62c462 !default;
//$good-orange: #f89406 !default;
//$good-red: #ee5f5b !default;
//$good-blue: #5bc0de !default;
$dark-blue: #003459 !default;
$light-blue: #84C3DF !default;
$green: #4cbed2 !default;
$black : #222 !default;

$global-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2) !default;
