$navbar-height: 52px;
$footer-height: 200px;

$base-white: white !default;
$base-black: #333 !default;
$base-green: #4cbed2 !default;

$dark-green: darken($base-green, 11%);
$dark-white: darken($base-white, 15%);

// Should be gray
$grey: darken($base-white, 60%);

$global-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2) !default;