@import '../../globals';

.banner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  text-align: center;

  padding-top: $navbar-height + 1px;

  color: #EEE;

  min-height: 35vh;

  background-image: url('./gplaypattern_@2X.png');
  background-repeat: repeat;

  box-shadow: $global-box-shadow;

  margin: 0 0 10px 0;

  header {
    text-shadow: rgba(0, 0, 0, 0.3) 1px 2px 1px, rgba(0, 0, 0, 0.4) 1px 2px 3px;
    .title {
      font-weight: 700;
      font-size: 3em;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 2px solid white;
    }
    .subtitle {
      font-size: 1.5em;
      font-weight: 300;
      margin: 10px 0 0;
    }
  }
}

.bottomPadding {
  padding-bottom: 100px;
}